body{
	margin:0;
	padding:0;	
	

}
/* MENU KON */

#menu {
	
  background:rgba(0,0,0,0.5);
  background-image: linear-gradient(0deg,rgba(0,128,255,0.4),rgba(0,0,255,0.1));
  height:120px;
  width: 80%;  
  margin-left:10%;
  border-radius:20px 20px 20px 20px;
  text-align:center;
  vertical-align:middle;



}
.menusettingsfirst{
		font-family: 'Goldman', cursive;
		background-color:black;
		background-image: linear-gradient(0deg,rgba(0,128,255,0.4),rgba(0,0,255,0.1));
		list-style:none;
		display:block;
		float:left;
		color:white;
		font-size:25px;
		width:10vw;
		text-decoration:none;
		height:100%;
		line-height:120px;
}
.menusettings{
		font-family: 'Goldman', cursive;
		background-color:black;
		background-image: linear-gradient(0deg,rgba(0,128,255,0.4),rgba(0,0,255,0.1));
		list-style:none;
		display:block;
		float:left;
		color:white;
		font-size:25px;
		text-align:center;
		height:100%;
		text-decoration:none;
		line-height:120px;
		width:10vw;
}
.logosettings
{  border-radius:20px 20px 20px 20px;
	float:left;
	display:block;
	background:rgba(0,0,0,0.5);
	background-image: linear-gradient(0deg,rgba(0,128,255,0.4),rgba(0,0,255,0.1));
}
a.menusettings:hover{
		background:rgba(0,0,0,0.5);
		background-image: linear-gradient(0deg,rgba(0,128,255,0.4),rgba(0,0,255,0.1));
		list-style:none;
		display:block;
		float:left;
		color:white;
		font-size:25px;
		text-align:center;
		border-bottom:1px solid;
		border-bottom-color:red;
		width:10vw;
		height:calc(100%-1px);
		vertical-align:middle;
		text-decoration:none;
		line-height:120px;
}

a.menusettingsfirst:hover{
		background:rgba(0,0,0,0.5);
		background-image: linear-gradient(0deg,rgba(0,128,255,0.4),rgba(0,0,255,0.1));
		opacity
		;
		list-style:none;
		display:block;
		float:left;
		color:white;
		font-size:25px;
		text-align:center;
		border-bottom:1px solid;
		border-bottom-color:red;
		width:10vw;
		height:calc(100%-1px);
		vertical-align:middle;
		line-height:120px;
}
img.logosettings:hover{
		background:rgba(0,0,0,0.1);
		background-image: linear-gradient(0deg,rgba(0,128,255,0.4),rgba(0,0,255,0.1));
		list-style:none;
		display:block;
		float:left;
		color:white;
		font-size:25px;
		text-align:center;
		border-bottom:1px solid;
		border-bottom-color:red;
		vertical-align:middle;
		line-height:120px;

}
/* MENU ZAMKNIECIE */ 
/* Pierwsza SEKCJA */ 
.section1{
	font-family: 'Goldman', cursive;
	margin:0;
	width:100%;
	height:600px;
	background-image:url("./img/s1tlo.png");
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-attachment:fixed;
	text-align:center;

}
.section1opacity{
	background:rgba(0,0,0,0.6);
	width:100%;
	height:100%;
	
}
h1{
	color:white;
	text-align:center;
}
.section1txt{
color:white;
font-size:25px;

}
.section1textposition{
	width:50%;
	margin-top:2%;
	margin-left:25%;
}

/*  Pierwsza SEKCJA  koniec */ 
/* Druga SEKCJA */
.section2{
	font-family: 'Goldman', cursive;
	width:100%;
	height:1400px;
	background-image:url("./img/s2zd.jpg");
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-attachment:fixed;
}
.s2h1{
	margin-left:10%;
}
.s2poz{
	width:80%;
	margin-left:6%;
	text-align:center;
	float:left;
}
.imgscsteps{
	width:100%;
	margin-left:4%;
}
.s2step1{
	margin-top:-4%;
width:300px;
height:200px;
color:white;
float:left;
font-size:23px;
margin-left:12%;
}

.s2step2{
	margin-top:-4%;
width:300px;
height:200px;
color:white;
float:left;
font-size:23px;
margin-left:15%;
	}

.s2step3{width:300px;
margin-top:-4%;
height:200px;
color:white;
float:left;
font-size:23px;
margin-left:13%;;
}
/* DRUGA SEKCJA KONIEC */ 
/* Trzecia SEKCJA */ 

.section3{
	font-family: 'Goldman', cursive;
	background-image:url("./img/bc.jpg");
	width:100%;
	height:1200px;
	margin-top:-3%;
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-attachment:fixed;
	text-align:center;

	
}
.Terranie{
	display:block;
	font-size:60px;
	color:White;
}
.s3left{
	width:30%;
	
	float:left;
	color:white;
	font-size:25px;
	margin-left:5%;
	margin-top:5%;
	text-align:left;
	
}

.s3right{
	width:30%;
	height:60%;
	float:right;
	color:white;
	font-size:15px;
	margin-top:10%;
	margin-right:15%;
	
}

/*  Trzecia sekcja koniec*/ 
/* Czwarta SEKCJA */ 
.section4{
	font-family: 'Goldman', cursive;
	background-image:url("./img/orig_551446.jpg");
	width:100%;
	height:1200px;
	margin-top:-3%;
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-attachment:fixed;
	text-align:center;
	
}
/* CZwarta sekcja koniec */ 
.section5{
	font-family: 'Goldman', cursive;
	background-image:url("./img/s2tlo.png");
	width:100%;
	height:1200px;
	margin-top:-3%;
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-attachment:fixed;
	text-align:center;
	
}
.s5left{
	width:30%;
	float:left;
	color:white;
	font-size:25px;
	margin-left:5%;
	text-align:left;
	margin-top:5%;
	
}

.s5right{
	
		width:30%;
	float:right;
	color:white;
	font-size:15px;
margin-right:15%;
margin-top:10%;
}


.textdown1{
	width:100%;
	height:10%;
}




.section6{
	font-family: 'Goldman', cursive;
	background-image:url("./img/s6.jpg");
	width:100%;
	height:2100px;
	margin-top:-3%;
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-attachment:fixed;
	text-align:center;
	
}

.s6left{
	width:35%;
	float:left;
	color:white;
	font-size:25px;
	margin-left:15%;
	
}
.s6left2{
	width:35%;
	float:left;
	color:white;
	font-size:25px;
	margin-top:10%;
}
.s6right{
	width:35%;
	float:left;
	color:white;
	font-size:25px;
	
	margin-left:15%;
	
}
.s6s6right{
	width:35%;
	float:left;
	color:white;
	font-size:25px;
	
	margin-top:15%;
}
.textdown2{
	width:100;
	height:2%;
}
.text{
	
	width:45%;
	text-align:center;
	margin-left:30%;
	margin-bottom:5%;
	color:white;
	font-size:23px;
}
.fotter{
	margin-top:-3%;
	background-color:black;
	width:100%;
	height:80px;
	text-align:center;
	
}